<nav class="navbar navbar-expand-lg navbar-light" id="navbar" style="background-color: {{ navColor }};">
  <a class="navbar-brand" href="/">
    <img src="/images/icon.png" width="30" height="30" class="d-inline-block align-top"> NAA
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-project-diagram"></i> {{__ "project"}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">{{__ "project"}}</h6>
          <a class="dropdown-item" href="/projects/projectsDirectory"><i class="fas fa-folder"></i> {{__ "directory"}}</a>
          <a class="dropdown-item" href="/projects/new"><i class="fas fa-plus-square"></i> {{__ "new"}}</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">{{__ "current project"}}</h6>
          {{#if projectID}}
          <a class="dropdown-item" href="/projects/edit/{{projectID}}"><i class="fas fa-edit"></i> {{__ "edit"}}</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#deleteProjectModal" style="cursor: pointer;"><i
              class="fas fa-trash-alt"></i> {{__ "delete"}}</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#saveProjectModal" style="cursor: pointer;"><i class="fas fa-save"></i> {{__ "save"}}</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">{{__ "export project"}}</h6>
          <a class="dropdown-item" data-toggle="modal" data-target="#exportProjectModal" style="cursor: pointer;"><i class="fas fa-file-export"></i> {{__ "export"}}</a>
          {{/if}}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-chart-line"></i> {{__ "analysis"}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">{{__ "analysis"}}</h6>
          <a class="dropdown-item" data-toggle="modal" data-target="#calculationModal" style="cursor: pointer;"><i
              class="fas fa-chart-line"></i> {{__ "calculate"}}</a>
          <a class="dropdown-item" href="/calculations/monteCarlo"><i class="fas fa-chart-bar"></i> Monte Carlo</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">{{__ "results"}}</h6>
          <a class="dropdown-item" onclick="redirectToResults();" style="cursor: pointer;"><i class="fas fa-poll-h"></i> {{__ "results"}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cogs"></i> {{__ "settings"}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">{{__ "settings"}}</h6>
          <a class="dropdown-item" href="/settings"><i class="fas fa-sliders-h"></i> {{__ "change"}}</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">{{__ "help"}}</h6>
          <a class="dropdown-item" href="/help"><i class="fas fa-book"></i> {{__ "manual"}}</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#helpModal" style="cursor: pointer;"><i class="far fa-question-circle"></i> {{__ "hint"}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/about"><i class="fas fa-info-circle"></i> {{__ "about app"}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user-circle"></i> {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/myProfile"><i class="far fa-user-circle"></i> {{__ "my profile"}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" onclick="logout();" style="cursor: pointer;"><i class="fas fa-sign-out-alt"></i> {{__ "log out"}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script>
  if(!"{{navColor}}") {
    document.getElementById('navbar').style.backgroundColor = "lightsteelblue";
  }

  function logout() {
    sessionStorage.clear();
    window.location.href = "/users/logout";
  }

  function redirectToResults() {
    if (sessionStorage.getItem("{{projectID}}")) {
      window.location.href = "/projects/{{projectID}}/results";
    } else {
      alert("{{__ "have to perform analysis"}}");
    }
  }
</script>