<nav class="navbar navbar-expand-lg navbar-light" id="navbar" style="background-color: {{ navColor }};">
  <a class="navbar-brand" href="/">
    <img src="/images/icon.png" width="30" height="30" class="d-inline-block align-top"> NAA
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cogs"></i> {{__ "settings"}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 class="dropdown-header">{{__ "settings"}}</h6>
          <a class="dropdown-item" href="/settings"><i class="fas fa-sliders-h"></i> {{__ "change"}}</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">{{__ "help"}}</h6>
          <a class="dropdown-item" href="/files/test.pdf" target="_blank"><i class="fas fa-book"></i> {{__ "manual"}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/about"><i class="fas fa-info-circle"></i> {{__ "about app"}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user-circle"></i> {{ username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/users/myProfile"><i class="far fa-user-circle"></i> {{__ "my profile"}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" onclick="logout();" style="cursor: pointer;"><i class="fas fa-sign-out-alt"></i> {{__ "log out"}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<script>
  // lightsteelblue
  // lightblue
  // lightgray

  // dodelat pokud neni navColor?
  if(!"{{navColor}}") {
    document.getElementById('navbar').style.backgroundColor = "lightsteelblue";
  }

  function logout() {
    sessionStorage.clear();
    window.location.href = "/users/logout";
  }
</script>