{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->
            <form class="form-container" action="/projects/edit/{{projectID}}" method="post">
                <h2 class="text-center">Edit Project</h2>
                <div class="form-group">
                    <label for="projectName">{{__ "project name"}}</label>
                    <input type="text" class="form-control" name="projectName" value="{{projectName}}" required>
                </div>
                <div class="form-group">
                    <label for="typeOfProject">{{__ "type of project"}}</label>
                    <input type="text" class="form-control" value="{{projectType}}" readonly>
                </div>
                <div class="form-group">
                    <label for="createdAt">{{__ "created"}}</label>
                    <input type="text" class="form-control" value="{{createdAt}}" readonly>
                </div>
                <div class="form-group">
                    <label for="projectInfo">{{__ "information"}}</label>
                    <textarea name="projectInfo" class="form-control">{{projectInfo}}</textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">{{__ "edit project"}}</button>
                    <button type="button" class="btn btn-primary">{{__ "back"}}</button>
                </div>
            </form>
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>