{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/user.png" width="60" height="90" alt="Card image cap">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{ username }} {{ surname }}</h5>
            </div>
            <hr class="solid">
            <small>Email</small><br>
            {{ email }}
            <hr class="solid">
            <small>On NAA since</small><br>
            {{ created }}
            <hr class="solid">
            <div class="text-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateAccountModal"><i
                        class="far fa-edit"></i> Update</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteAccountModal"><i
                        class="far fa-edit"></i> Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountLabel">Delete your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/users/deleteAccount">
                <div class="modal-body">
                    Do you want to delete your account?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateAccountModal" tabindex="-1" role="dialog" aria-labelledby="updateAccountLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAccountLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/users/updateAccount">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" class="form-control" name="username" value="{{ username }}" required>
                    </div>
                    <div class="form-group">
                        <label for="surname">Surname</label>
                        <input type="text" class="form-control" name="surname" value="{{ surname }}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Update" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>