{{> navbar}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div class="d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">{{ username }} {{ surname }}</h5>
            </div>
            <hr class="solid">
            <small>Email</small><br>
            {{ email }}
            <hr class="solid">
            <small>{{__ "on naa since"}}</small><br>
            {{ created }}
            <hr class="solid">
            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="updateAccount()"><i class="far fa-edit"></i> {{__ "update"}}</button>
                <button type="button" class="btn btn-primary" onclick="deleteAccount()"><i class="far fa-edit"></i> {{__ "delete"}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccountLabel">{{__ "delete account title"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/users/deleteAccount" id="deleteAccountForm">
                <div class="modal-body">
                    {{__ "delete account"}}<br>
                    {{__ "it will delete projects"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Update -->
<div class="modal fade" id="updateAccountModal" tabindex="-1" role="dialog" aria-labelledby="updateAccountLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAccountLabel">{{__ "update"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/users/updateAccount" id="updateAccountForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">{{__ "name"}}</label>
                        <input type="text" class="form-control" name="username" value="{{ username }}" required>
                    </div>
                    <div class="form-group">
                        <label for="surname">{{__ "surname"}}</label>
                        <input type="text" class="form-control" name="surname" value="{{ surname }}" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "update"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        jQuery('#flash').fadeOut('fast');
    }, 3000);

    function deleteAccount() {
        // hotovo
        $("#deleteAccountForm").attr("action", "/users/myProfile" + "/?_method=DELETE");
        $("#deleteAccountModal").modal('show');
    }

    function updateAccount() {
        // hotovo
        $('#updateAccountForm').attr("action", "/users/myProfile" + "/?_method=PUT");
        $('#updateAccountModal').modal('show');
    }
</script>