{{> navbar}}

<div>
    {{#if flash}}
    <div style="text-align: center; position: absolute; width: 100%;" id="flash" class="alert alert-{{flash.type}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{flash.text}}</strong>
    </div>
    {{/if}}

    <div style="text-align: center;">
        <table class="table table-hover" id="projectsTable">
            <thead>
                <tr style="background-color: lightskyblue;">
                    <th scope="col">#</th>
                    <th scope="col">{{__ "project name"}}</th>
                    <th scope="col">{{__ "type of project"}}</th>
                    <th scope="col">{{__ "action"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                {{#each this}}
                <tr id="{{this.ID}}" title="{{../../__ "created"}}: {{this.created}}">
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.projectName}}</td>
                    <td>{{upper this.projectType}}</td>
                    <td>
                        <a href="/projects/select/{{this.ID}}" title="{{../../__ "select"}}"><i class="fas fa-check-square"></i></a>
                        <a href="/projects/edit/{{this.ID}}" title="{{../../__ "edit"}}"><i class="fas fa-edit"></i></a>
                        <a href="#" onclick="deleteModal({{json this.ID}})" title="{{../../__ "delete"}}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="text-center pb-2">
        <a href="/projects/new"><button type="button" class="btn btn-primary"><i class="fas fa-plus-square"></i>
                {{__ "add project"}}</button></a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generateProjectModal"><i class="fas fa-random"></i> {{__ "generate project"}}</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadProjectModal"><i class="far fa-file-excel"></i> {{__ "load file"}}</button>
    </div>
</div>

<!-- Modal Generator -->
<div class="modal fade" id="generateProjectModal" tabindex="-1" role="dialog"
    aria-labelledby="generateProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateProjectModalLabel">{{__ "generate project"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/projects/generate">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">{{__ "project name"}}</label>
                        <input type="text" class="form-control" name="projectName" placeholder="{{__ "enter project name"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="typeOfProject">{{__ "type of project"}}</label>
                        <select name="types" class="form-control">
                            <option value="cpm">CPM</option>
                            <option value="pert">PERT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="projectInfo">{{__ "information"}}</label>
                        <textarea name="projectInfo" class="form-control" placeholder="{{__ "enter project description"}}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="numberOfStates">{{__ "number of states"}}</label>
                        <input type="number" class="form-control" id="numberOfStates" name="numberOfStates" min="2" max="20" value="2" required>
                    </div>
                    <div class="form-group">
                        <label for="numberOfActivities">{{__ "number of activities"}}</label>
                        <input type="number" class="form-control" id="numberOfActivities" name="numberOfActivities" min="1" value="1" title="Pocet stavu - 1" required>
                    </div>
                    <div class="form-group">
                        <label for="maxLengthOfActivity">{{__ "max length of activity"}}</label>
                        <input type="range" id="maxLengthOfActivity" name="maxLengthOfActivity" class="form-control" value="50" min="10" max="100" oninput="this.nextElementSibling.value = this.value">
                        <output>50</output>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "generate"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Load File -->
<div class="modal fade" id="loadProjectModal" tabindex="-1" role="dialog" aria-labelledby="loadProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadProjectModalLabel">{{__ "load file"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="loadFileForm" action="/projects/loadFile">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">{{__ "project name"}}</label>
                        <input type="text" name="projectName" class="form-control" placeholder="{{__ "enter project name"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="myFile">{{__ "select a file"}}</label><br>
                        <input type="file" id="myFile" name="myFile" accept=".json" required>
                    </div>
                    <input type="text" id="loadedFileInput" name="loadedFileInput" style="display: none;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "load"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">{{__ "delete"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="" id="deleteProjectForm">
                <div class="modal-body">
                    <div class="text-center">
                        {{__ "delete project"}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        $('#flash').fadeOut('fast');
    }, 3000);

    var tableLength = parseInt(sessionStorage.getItem("tableLength"));
    var rowCount = $('#projectsTable tr').length - 1;
    
    if(tableLength && rowCount > tableLength) {
        $('#projectsTable tr').last().css('background', 'yellow');
        setTimeout(function() {
            $('#projectsTable tr').last().css('background', 'white');
        }, 3000);
    }

    sessionStorage.setItem("tableLength", rowCount);

    $(document).ready(function() {
        $('.table > tbody > tr').dblclick(function(event) {
            window.location.href = "/projects/select/" + $(this).attr('id');
        })
    });

    // pripadne doresit osetreni proti chybam
    let loadForm = document.getElementById('loadFileForm');
    let input = document.getElementById('myFile');
    var dataJSON;


    input.addEventListener('change', () => {
        let files = input.files;

        if (files.length == 0) return;

        const file = files[0];

        if(file.type == "application/json") {
            let reader = new FileReader();
            reader.onload = (e) => {
                const file = e.target.result;
                const lines = file.split(/\r\n|\n/);
                dataJSON = JSON.parse(lines);
                document.getElementById('loadedFileInput').value = JSON.stringify(dataJSON);
            };

            reader.onerror = (e) => alert(e.target.error.name);
            
            reader.readAsText(file);
        } else {
            alert("{{__ "invalid extension of file"}}" + " (" + file.type + "). " + "{{__ "please load JSON file"}}");
            input.value = '';
        }
    });

    loadForm.addEventListener('submit', function() {
        
    });

    document.getElementById("numberOfStates").addEventListener('change', function() {
        document.getElementById("numberOfActivities").value = this.value - 1;
    });

    function deleteModal(projectID) {
        $('#deleteProjectForm').attr("action", "/projects/delete/" + projectID + "/?_method=DELETE");
        $('#deleteProjectModal').modal('show');
    }

</script>