{{> navbar}}

<div>
    {{#if flash}}
    <div style="text-align: center; position: absolute; width: 100%;" id="flash" class="alert alert-{{flash.type}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{flash.text}}</strong>
    </div>
    {{/if}}

    <div style="text-align: center;">
        <table class="table table-hover" id="projectsTable">
            <thead>
                <tr style="background-color: lightskyblue;">
                    <th scope="col">#</th>
                    <th scope="col">{{__ "project name"}}</th>
                    <th scope="col">{{__ "type of project"}}</th>
                    <th scope="col">{{__ "created"}}</th>
                    <th scope="col">{{__ "last modified"}}</th>
                    <th scope="col">{{__ "action"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                {{#each this}}
                <tr id="{{this.ID}}" title="{{../../__ "created"}}: {{this.created}}">
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.projectName}}</td>
                    <td>{{upper this.projectType}}</td>
                    <td>{{this.created}}</td>
                    <td>{{this.modified}}</td>
                    <td>
                        <a href="/projects/select/{{this.ID}}" title="{{../../__ "select"}}"><i class="fas fa-check-square"></i></a>
                        <a href="/projects/edit/{{this.ID}}" title="{{../../__ "edit"}}"><i class="fas fa-edit"></i></a>
                        <a href="#" onclick="deleteModal({{json this.ID}}, {{json this.projectName}})" title="{{../../__ "delete"}}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a href="/projects/new">
            <button type="button" class="btn btn-primary" title="{{__ "add new project"}}" style="width: 120px;">
                <i class="fas fa-plus-square"></i> {{__ "add"}}
            </button>
        </a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generateProjectModal" title="{{__ "generate random project"}}" style="width: 120px;">
            <i class="fas fa-random"></i> {{__ "generate"}}
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadProjectModal" title="{{__ "load project from file"}}" style="width: 120px;">
            <i class="far fa-file-excel"></i> {{__ "load"}}
        </button>
    </div>
    
</div>

<!-- Modal Generator -->
<div class="modal fade" id="generateProjectModal" tabindex="-1" role="dialog"
    aria-labelledby="generateProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateProjectModalLabel">{{__ "generate project"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/projects/generate">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">{{__ "project name"}}</label>
                        <input type="text" class="form-control" id="projectName" name="projectName" placeholder="{{__ "enter project name"}}"
                            title="{{__ "required information"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="type">{{__ "type of project"}}</label>
                        <select name="type" class="form-control" id="typeOfProject">
                            <option value="cpm">CPM</option>
                            <option value="pert">PERT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="projectInfo">{{__ "information"}}</label>
                        <textarea name="projectInfo" class="form-control" placeholder="{{__ "enter project description"}}"
                            title="{{__ "optional information"}}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="numberOfStates">{{__ "number of states"}}</label>
                        <input type="number" class="form-control" id="numberOfStates" name="numberOfStates" min="2" max="50" value="2" required>
                    </div>
                    <div class="text-center" style="padding-bottom: 5px;">
                        <button type="button" class="btn btn-primary" id="generateButton" title="{{__ "generate random project"}}">{{__ "generate"}}</button>
                    </div>
                    <input type="text" id="generatedProjectJSON" name="generatedProjectJSON" style="display: none;">
                    <div id="hiddenInfo" style="display: none;">
                        <hr class="solid">  
                        <div style="margin-top: 5px;" id="generatedProjectInfo"></div>
                        <hr class="solid">
                        <div class="text-center">{{__ "add by add button"}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "add"}}" id="submitGeneratedProject" class="btn btn-primary" title="{{__ "press generate"}}" disabled>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Load File -->
<div class="modal fade" id="loadProjectModal" tabindex="-1" role="dialog" aria-labelledby="loadProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadProjectModalLabel">{{__ "load file"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="loadFileForm" action="/projects/loadFile">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">{{__ "project name"}}</label>
                        <input type="text" name="projectName" class="form-control" placeholder="{{__ "enter project name"}}"
                            title="{{__ "required information"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="myFile">{{__ "select a file"}} (.json)</label><br>
                        <input type="file" id="myFile" name="myFile" accept=".json" required>
                    </div>
                    <input type="text" id="loadedFileInput" name="loadedFileInput" style="display: none;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "load"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">{{__ "delete"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="" id="deleteProjectForm">
                <div class="modal-body">
                    <div class="text-center" id="deletionText">
                        {{__ "delete project"}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/projectGenerator.js"></script>
<script>
    setTimeout(function() {
        $('#flash').fadeOut('fast');
    }, 3000);

    $(document).ready(function() {
        $('.table > tbody > tr').dblclick(function(event) {
            window.location.href = "/projects/select/" + $(this).attr('id');
        })
    });

    var tableLength = parseInt(sessionStorage.getItem("tableLength"));
    var rowCount = $('#projectsTable tr').length - 1;
    
    if(tableLength && rowCount > tableLength) {
        $('#projectsTable tr').last().css('background', 'yellow');
        setTimeout(function() {
            $('#projectsTable tr').last().css('background', 'white');
        }, 3000);
    }

    sessionStorage.setItem("tableLength", rowCount);

    var generateButton = document.getElementById('generateButton');

    generateButton.addEventListener('click', function(){
        const projectName = document.getElementById('projectName'),
            analysisType = document.getElementById('typeOfProject'),
            numberOfStates = document.getElementById('numberOfStates');
        var hiddenInfo = document.getElementById('hiddenInfo'),
            projectInfo = document.getElementById('generatedProjectInfo');

        var submitButton = document.getElementById('submitGeneratedProject');
        //Generating
        var dataJSON = generateProject(numberOfStates.value, analysisType.value);
        var numberOfActivities = (dataJSON.activities).length;

        document.getElementById('generatedProjectJSON').value = JSON.stringify(dataJSON);
        // display info
        projectInfo.innerHTML = "<h6>{{__ "generated project"}}</h6>";
        if (projectName.value == '') {
            projectInfo.innerHTML += "{{__ "project name"}}: {{__ "not defined"}} <br>";
        } else {
            projectInfo.innerHTML += "{{__ "project name"}}: " + projectName.value + "<br>";
        }
        projectInfo.innerHTML += "{{__ "analysis type"}}: " + (analysisType.value).toUpperCase() + "<br>";
        projectInfo.innerHTML += "{{__ "number of states"}}: " + numberOfStates.value + "<br>";
        projectInfo.innerHTML += "{{__ "number of activities"}}: " + numberOfActivities;

        hiddenInfo.style.display = 'block';

        submitButton.disabled = false;
        submitButton.title = "{{__ "add generated project"}}"
    });

    // pripadne doresit osetreni proti chybam (nahrani projektu ze souboru)
    let loadForm = document.getElementById('loadFileForm');
    let input = document.getElementById('myFile');
    var dataJSON;

    input.addEventListener('change', () => {
        let files = input.files;
        if (files.length == 0) return;
        const file = files[0];
        if(file.type == "application/json") {
            let reader = new FileReader();
            reader.onload = (e) => {
                const file = e.target.result;
                dataJSON = JSON.parse(file)
                document.getElementById('loadedFileInput').value = JSON.stringify(dataJSON);
            };
            reader.onerror = (e) => alert(e.target.error.name);
            reader.readAsText(file);
        } else {
            alert("{{__ "invalid extension of file"}}" + " (" + file.type + "). " + "{{__ "please load JSON file"}}");
            input.value = '';
        }
    });

    function deleteModal(projectID, projectName) {
        document.getElementById('deletionText').innerHTML += ' 	&#8216;' + projectName + '&#8217;?';
        $('#deleteProjectForm').attr("action", "/projects/delete/" + projectID + "/?_method=DELETE");
        $('#deleteProjectModal').modal('show');
    }
</script>