{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div id="myDiagramDiv" style="width: 99%; height: 50vw;"></div>

<!-- Modal Export -->
<div class="modal fade" id="exportProjectModal" tabindex="-1" role="dialog" aria-labelledby="exportProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportProjectModalLabel">{{__ "export"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nameOfFile">{{__ "filename"}}</label>
                    <input type="text" class="form-control" id="nameOfFile" placeholder="{{__ "enter name of file"}}">
                </div>
                <div class="form-group">
                    <label for="typeOfFile">{{__ "type of file"}}</label>
                    <select id="typeOfFile" class="form-control">
                        <option value="svg">SVG</option>
                        <option value="png">PNG</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                <button type="submit" class="btn btn-primary"  id="exportButton">{{__ "export"}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">{{__ "delete"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/projects/delete/{{projectID}}/?_method=DELETE">
                <div class="modal-body">
                    <div class="text-center">
                        {{__ "delete project"}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Calculation -->
<div class="modal fade" id="calculationModal" tabindex="-1" role="dialog" aria-labelledby="calculationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calculationModalLabel">{{__ "set up calculation"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="typeOfAnalysis">{{__ "type of project"}}</label>
                        <input type="text" class="form-control" value="{{upper projectType}}" readonly>
                    </div>            
                    {{#ifEquals projectType "pert"}}
                    <!-- Set PERT Calculation -->
                        <div id="firstRow">
                            <div class="row g-2">
                                <div class="col-sm">
                                    <label for="typeOfCalculation">{{__ "find"}}</label>
                                    <select name="typeOfCalculation" class="form-control">
                                        <option value="P" title="">P ({{__ "probability"}})</option>
                                        <option value="T" title="">T ({{__ "time"}})</option>
                                    </select>
                                </div>
                                <div class="col-sm">
                                    <label for="pertSelect1">{{__ "option"}}</label>
                                    <select name="pertSelect1" class="form-control">
                                        <option value="lt">&lt;</option>
                                        <option value="gt">&gt;</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="secondRow">

                        </div>
                    {{/ifEquals}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "run"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add State Modal -->
<div class="modal fade" id="addStateModal" tabindex="-1" role="dialog" aria-labelledby="addStateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStateModalLabel">{{__ "new state"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container" id="addStateForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="stateName">{{__ "state name"}}</label>
                        <input type="text" class="form-control" id="stateNameInput" name="stateNameInput"
                            aria-describedby="stateNameHelp" placeholder="{{__ "enter state name"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="stateInfo">{{__ "information"}}</label>
                        <input type="text" class="form-control" id="stateInfoInput" name="stateInfoInput">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "add"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit State Modal -->
<div class="modal fade" id="editStateModal" tabindex="-1" role="dialog" aria-labelledby="editStateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editStateModalLabel">{{__ "edit state"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container" id="editStateForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editStateName">{{__ "state name"}}</label>
                        <input type="text" class="form-control" id="editStateName" name="editStateName" required>
                    </div>
                    <div class="form-group">
                        <label for="editStateInfo">{{__ "information"}}</label>
                        <input type="text" class="form-control" id="editStateInfo" name="editStateInfo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "edit"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete State Modal -->
<div class="modal fade" id="deleteStateModal" tabindex="-1" role="dialog" aria-labelledby="deleteStateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStateModalLabel">{{__ "delete state"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container" id="deleteStateForm">
                <div class="modal-body">
                    {{__ "delete state question"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Add Activity Modal -->
<div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="addActivityModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h5 class="modal-title" id="addActivityModalLabel">{{__ "add activity"}}</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container" id="addActivityForm" action="" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="activityNameInput">{{__ "activity name"}}</label>
                        <input type="text" class="form-control" id="activityNameInput" name="activityNameInput"
                            placeholder="{{__ "enter activity name"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="analysisType">{{__ "analysis type"}}</label>
                        <input type="text" class="form-control" value="{{upper projectType}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="activityTypeSelect">{{__ "activity type"}}</label>
                        <select class="form-control" id="activityTypeSelect" name="activityTypeSelect">
                            <option value="normal">{{__ "normal"}}</option>
                            <option value="dummy">{{__ "dummy"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="activityDescription">{{__ "description"}}</label>
                        <input type="text" class="form-control" name="activityDescription" id="activityDescription" placeholder="{{__ "enter activity description"}}">
                    </div>
                    <div id="activityValues">
                        <hr class="solid">
                        <div class="text-center">
                            <h6>{{__ "activity values"}}</h6>
                        </div>
                        {{#ifEquals projectType "cpm"}}
                            <div class="form-group">
                                <label for="lengthOfActivity">{{__ "length of activity"}}</label>
                                <input type="number" class="form-control" name="lengthOfActivity" id="lengthOfActivity" min="0" value="0">
                            </div>                            
                        {{/ifEquals}}
                        {{#ifEquals projectType "pert"}}
                            <div class="form-group">
                                <label for="optimisticValue">{{__ "optimistic value"}}</label>
                                <input type="number" class="form-control" name="optimisticValue" id="optimisticValue" min="0" value="0" step="0.1">
                                <label for="mostExpectedValue">{{__ "most expected value"}}</label>
                                <input type="number" class="form-control" name="mostExpectedValue" id="mostExpectedValue" min="0" value="0">
                                <label for="pessimisticValue">{{__ "pessimistic value"}}</label>
                                <input type="number" class="form-control" name="pessimisticValue" id="pessimisticValue" min="0" value="0">
                            </div>
                        {{/ifEquals}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "add"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Activity Modal -->
<div class="modal fade" id="editActivityModal" tabindex="-1" role="dialog" aria-labelledby="editActivityModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editActivityModalLabel">{{__ "edit activity"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container" id="editActivityForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editedActivityName">{{__ "activity name"}}</label>
                        <input type="text" class="form-control" id="editedActivityName" name="editedActivityName"
                            placeholder="{{__ "enter activity name"}}" required>
                    </div>
                    <div class="form-group">
                        <label for="analysisType">{{__ "analysis type"}}</label>
                        <input type="text" class="form-control" value="{{upper projectType}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editedActivityType">{{__ "activity type"}}</label>
                        <select class="form-control" id="editedActivityType" name="editedActivityType">
                            <option value="normal">{{__ "normal"}}</option>
                            <option value="dummy">{{__ "dummy"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editedActivityDescription">{{__ "description"}}</label>
                        <input type="text" class="form-control" id="editedActivityDescription" name="editedActivityDescription" placeholder="{{__ "enter activity description"}}">
                    </div>
                    <div id="editedActivityValues">
                        <hr class="solid">
                        <div class="text-center">
                            <h6>{{__ "activity values"}}</h6>
                        </div>
                        {{#ifEquals projectType "cpm"}}
                            <div class="form-group">
                                <label for="editedActivityLength">{{__ "length of activity"}}</label>
                                <input type="number" class="form-control" id="editedActivityLength" name="editedActivityLength" min="0">
                            </div>
                        {{/ifEquals}}
                        {{#ifEquals projectType "pert"}}
                            <div class="form-group">
                                <label for="editedActivityOptimistic">{{__ "optimistic value"}}</label>
                                <input type="number" class="form-control" id="editedActivityOptimistic" name="editedActivityOptimistic" min="0">
                                <label for="editedActivityMost">{{__ "most expected value"}}</label>
                                <input type="number" class="form-control" id="editedActivityMost" name="editedActivityMost" min="0">
                                <label for="editedActivityPessimistc">{{__ "pessimistic value"}}</label>
                                <input type="number" class="form-control" id="editedActivityPessimistic" name="editedActivityPessimistic" min="0">
                            </div>
                        {{/ifEquals}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "edit"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Activity Modal -->
<div class="modal fade" id="deleteActivityModal" tabindex="-1" role="dialog" aria-labelledby="deleteActivityModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteActivityModalLabel">{{__ "delete activity"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-container" id="deleteActivityForm">
                <div class="modal-body">
                    {{__ "delete activity question"}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/initGraph.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    // pridat aktivity z db do init
    init("{{states}}", "{{activities}}", "{{projectType}}", "{{translations}}");
    
    var socket = io();

    // addStateForm - submit - add state
    document.getElementById('addStateForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var stateName = document.getElementById('stateNameInput');
        var stateInfo = document.getElementById('stateInfoInput');
        
        socket.emit("new state", stateName.value, "{{projectID}}", stateInfo.value); 

        stateName.value = '';
        stateInfo.value = '';

        $('#addStateModal').modal('toggle');
    })

    // editStateForm - submit - edit state
    document.getElementById('editStateForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var stateName = document.getElementById('editStateName');
        var stateInfo = document.getElementById('editStateInfo');
        var stateID = this.getAttribute("name");

        socket.emit("edit state", stateID, stateName.value, stateInfo.value, "{{projectID}}");

        stateName.value = '';
        stateInfo.value = '';

        $('#editStateModal').modal('toggle');
    })

    // deleteStateForm - submit - delete state
    document.getElementById('deleteStateForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var stateID = this.getAttribute("name");

        socket.emit("delete state", stateID);

        $('#deleteStateModal').modal('toggle');
    })

    // activityTypeSelect - onchange display/hide values of activity
    document.getElementById('activityTypeSelect').addEventListener('change', function() {
        if(this.value == "normal") {
            document.getElementById('activityValues').style.visibility = "visible";
        } else {
            document.getElementById('activityValues').style.visibility = "hidden";
        }
    })




    // tady dopsat
    document.getElementById('editedActivityType').addEventListener('change', function() {
        if(this.value == "normal") {
            document.getElementById('editedActivityValues').style.visibility = "visible";
        } else {
            document.getElementById('editedActivityValues').style.visibility = "hidden";
            //$('#editActivityModal').modal('handleUpdate');
            $('#editActivityModal').data('bs.modal').handleUpdate()
            // $('#myModal').modal('handleUpdate')
        }
    })

    document.getElementById('addActivityForm').addEventListener('submit', function(event) {
        // TODO
        event.preventDefault();

        var activityName = document.getElementById('activityNameInput');
        var activityType = document.getElementById('activityTypeSelect');
        var activityDescription = document.getElementById('activityDescription');

        var valuesArr = []; 
        
        var formAction = ($('#addActivityForm').attr('action')).split('&');

        if ("{{projectType}}" == "cpm") {
            var length = document.getElementById("lengthOfActivity");

            valuesArr.push(length.value);

            length.value = 0;
        } else {
            var optimisticValue = document.getElementById("optimisticValue");
            var mostExpectedValue = document.getElementById("mostExpectedValue");
            var pessimisticValue = document.getElementById("pessimisticValue");

            valuesArr.push(optimisticValue.value, mostExpectedValue.value, pessimisticValue.value);       
        
            optimisticValue.value = 0;
            mostExpectedValue.value = 0;
            pessimisticValue.value = 0;

        }

        socket.emit("new activity", activityName.value, activityType.value, formAction[0], formAction[1], valuesArr, activityDescription.value, "{{projectID}}");

        activityName.value = '';
        activityDescription.value = '';

        $('#addActivityModal').modal('toggle');
    });

    document.getElementById('editActivityForm').addEventListener('submit', function(event) {
        // TODO
        event.preventDefault();

        var activityID = this.getAttribute("name");
        
        var activityName = document.getElementById('editedActivityName').value;
        var editedActivityType = document.getElementById('editedActivityType').value;

        var editedActivityDescription = document.getElementById('editedActivityDescription');

        var activityValues = [];

        if("{{projectType}}" == "cpm" && editedActivityType == "dummy") {
            activityValues.push('0');
        } else if("{{projectType}}" == "cpm" && editedActivityType == "normal") {
            var editedActivityLength = document.getElementById('editedActivityLength').value;
            activityValues.push(editedActivityLength);
        } else if("{{projectType}}" == "pert" && editedActivityType == "dummy") {
            activityValues = ['0', '0', '0'];
        } else if("{{projectType}}" == "pert" && editedActivityType == "normal") {
            var editedActivityOptimistic = document.getElementById('editedActivityOptimistic').value;
            var editedActivityMost = document.getElementById('editedActivityMost').value;
            var editedActivityPessimistic = document.getElementById('editedActivityPessimistic').value;
            activityValues = [editedActivityOptimistic, editedActivityMost, editedActivityPessimistic];
        }

        // socket
        console.log(activityID)
        
        socket.emit("edit activity", activityID, activityName, editedActivityType, editedActivityDescription.value, activityValues);


        editedActivityDescription.value = '';

        $('#editActivityModal').modal('toggle');
    });


    // mozna doplnit echa o uspesnem smazani atak...
    document.getElementById('deleteActivityForm').addEventListener('submit', function(event){
        event.preventDefault();
        var activityID = this.getAttribute("name");

        socket.emit("delete activity", activityID);

        $("#deleteActivityModal").modal('toggle'); 
    });

    // add state to diagram
    socket.on('new state', function(state) {
        // idk jestli osetrit aby nechodilo vsem

        addCreatedState(state);
    });

    // edit state in diagram
    socket.on('edit state', function(stateID, stateName, stateInfo, projectID) {
        //edit
        editSelectedState(stateID, projectID, stateName, stateInfo);
    });

    // delete state from diagram
    socket.on('delete state', function(stateID) {
        deleteSelectedState(stateID);
    });

    socket.on('error state', function(errCode) {
        if(errCode == 11000) {
            alert("{{__ "state already exists"}}");
        } else {
            alert("{{__ "error"}}" + "!");
        }
    })

    // TODO - activity pres socket.io
    // add activity to diagram
    socket.on('new activity', function(activity) {
        console.log("Dostavam echo zpet")
        addCreatedActivity(activity);
    })

    // edit activity in diagram
    socket.on('edit activity', function(activityID, activityName, activityType, activityDescription, activityValues) {

        // TODO 
        //editSelectedActivity
        editSelectedActivity(activityID, activityName, activityType, activityDescription, activityValues)

    })

    // delete activity from diagram
    socket.on('delete activity', function(activity) {
        deleteSelectedActivity(activity);
    })
</script>


