{{> navbar}}

<div>
    {{#if flash}}
    <div style="text-align: center; position: absolute; width: 100%" id="flash" class="alert alert-{{flash.type}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{flash.text}}</strong>
    </div>
    {{/if}}

    <div style="text-align: center;">
        <table class="table table-hover">
            <thead>
                <tr style="background-color: lightskyblue;">
                    <th scope="col">#</th>
                    <th scope="col">{{__ "project name"}}</th>
                    <th scope="col">{{__ "type of project"}}</th>
                    <th scope="col">{{__ "action"}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                {{#each this}}
                <tr id="{{this.ID}}">
                    <th scope="row">{{inc @index}}</th>
                    <td>{{this.projectName}}</td>
                    <td>{{upper this.projectType}}</td>
                    <td>
                        <a href="/projects/select/{{this.ID}}"><i class="fas fa-check-square"></i></a>
                        <a href="/projects/edit/{{this.ID}}"><i class="fas fa-edit"></i></a>
                        <a href="/projects/delete/{{this.ID}}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="text-center pb-2">
        <a href="/projects/new"><button type="button" class="btn btn-primary"><i class="fas fa-plus-square"></i>
                {{__ "add"}}</button></a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generateProjectModal"><i class="fas fa-random"></i> {{__ "generate"}}</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadProjectModal"><i class="far fa-file-excel"></i> {{__ "load file"}}</button>
    </div>
</div>

<!-- Modal Generator -->
<div class="modal fade" id="generateProjectModal" tabindex="-1" role="dialog"
    aria-labelledby="generateProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateProjectModalLabel">{{__ "generate"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/projects/generate">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">{{__ "project name"}}</label>
                        <input type="text" class="form-control" name="projectName" required>
                    </div>
                    <div class="form-group">
                        <label for="typeOfProject">{{__ "type of project"}}</label>
                        <select name="types" class="form-control">
                            <option value="cpm">CPM</option>
                            <option value="pert">PERT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numberOfStates">{{__ "number of states"}}</label>
                        <input type="number" class="form-control" name="numberOfStates" required>
                    </div>
                    <div class="form-group">
                        <label for="projectInfo">{{__ "information"}}</label>
                        <textarea name="projectInfo" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "generate"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Load File -->
<div class="modal fade" id="loadProjectModal" tabindex="-1" role="dialog" aria-labelledby="loadProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadProjectModalLabel">Load from File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/projects/loadFile">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectName">{{__ "project name"}}</label>
                        <input type="text" name="projectName" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="typeOfProject">{{__ "type of project"}}</label>
                        <select name="typeOfProject" class="form-control">
                            <option value="CPM">CPM</option>
                            <option value="PERT">PERT</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="myFile">{{__ "select a file"}}</label><br>
                        <input type="file" id="myFile" name="myFile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "load"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">{{__ "delete"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/projects/delete/{{projectID}}">
                <div class="modal-body">
                    <div class="text-center">
                        {{__ "delete project"}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ "close"}}</button>
                    <input type="submit" value="{{__ "delete"}}" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>





<script>
    setTimeout(function() {
        $('#flash').fadeOut('fast');
    }, 3000);

    $(document).ready(function() {
        $('.table > tbody > tr').dblclick(function(event) {
            window.location.href = "/projects/select/" + $(this).attr('id');
        })
    })

    function deleteModal(ID) {
        console.log(ID);
    }
</script>