{{> navbar}}
<div class="container-fluid" style="background-color: aqua; padding-top: 100px;">
    <ul class="list-group" id="listProjects">
        {{#each projects}}
            {{#each this}}
                <a href="{{this.ID}}"><li class="list-group-item">{{this.projectName}} {{this.projectType}}</li></a>
            {{/each}}
        {{/each}}
    </ul>
</div>


<script>
    //console.log("{{{projects}}}");
   // var projects = JSON.parse("{{{projects}}}");
    

</script>