{{> navbar_index}}

{{#if flash}}
<div style="text-align: center" id="flash" class="alert alert-{{flash.type}}" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{flash.text}}</strong>
</div>
{{/if}}

<div id="myDiagramDiv" style="width: 99%; height: 50vw;"></div>

<!-- Modal Delete -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" role="dialog" aria-labelledby="deleteProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProjectModalLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/projects/delete/{{projectID}}">
                <div class="modal-body">
                    <div class="text-center">
                        Do you want to delete this project?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Delete" id="submit" name="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Calculation -->
<div class="modal fade" id="calculationModal" tabindex="-1" role="dialog" aria-labelledby="calculationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="calculationModalLabel">Calculation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#ifEquals projectType "cpm"}}
                CPM
                {{/ifEquals}}
                {{#ifEquals projectType "pert"}}
                PERT
                {{/ifEquals}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Calculate" id="submit" name="submit" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/initGraph.js"></script>
<script>
  init("{{states}}", "{{projectType}}");
</script>


