{{> navbar}}

<div style="text-align: center;">
    <table class="table table-hover">
        <thead id="tableHead" style="background-color: lightskyblue;">

        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
</div>

<script>
    //TODO
    // dodelat MODAL pro results

    var expectedValue, standardDeviation, variance;
    var totalExpectedValue = 0,
        totalStandardDeviation = 0,
        totalVariance = 0;
    createTableHeadPERT();


    var activities = JSON.parse(sessionStorage.getItem("activities"));
    
    createBodyPERT(activities);
    

    var tbody = document.getElementById("tableBody");

    // createBodyCPM()

    function createBodyPERT(activities) {
        var a, m, b;
        var tbody = document.getElementById('tableBody');
        for(var i = 0; i < activities.length; i++) {
            a = parseInt(activities[i].values[0]);
            m = parseInt(activities[i].values[1]);
            b = parseInt(activities[i].values[2]);
            
            expectedValue = a + 4 * m + b;
            standardDeviation = b - a;
            variance = standardDeviation * standardDeviation;
            // deleni sesti zkusit vyresit
            var row = tbody.insertRow();
            row.innerHTML =
                "<tr>" + "<td>" + activities[i].activityName + "</td>"
                + "<td>" + activities[i].values[0] + "</td>"
                + "<td>" + activities[i].values[1] + "</td>"
                + "<td>" + activities[i].values[2] + "</td>"
                + "<td>" + expectedValue + "/6" + "</td>"
                + "<td>" + standardDeviation + "/6" + "</td>"
                + "<td>" + variance + "/36" + "</td>"
                + "</tr>";
            if(activities[i].critical == true) {
                row.className = "table-danger";
                totalExpectedValue += expectedValue;
                totalStandardDeviation += standardDeviation;
                totalVariance += variance;
            }
        }
        createTableBottomPERT(totalExpectedValue, totalStandardDeviation, totalVariance);
    }

    function createTableHeadCPM() {
        var thead = document.getElementById("tableHead");
        thead.insertRow().innerHTML =
            "<th>" + "{{__ "activity name"}}" + "</th>"
            + "<th>" + "Activity Type" + "</th>"
            + "<th>" + "Time" + "</th>"
    }

    function createTableHeadPERT() {
        var thead = document.getElementById("tableHead");
        thead.insertRow().innerHTML = 
            "<th>" + "{{__ "activity name"}}" + "</th>"
            + "<th>" + "{{__ "optimistic value"}}" + "</th>"
            + "<th>" + "{{__ "modal time"}}" + "</th>"
            + "<th>" + "{{__ "pessimistic value"}}" + "</th>"
            + "<th>" + "{{__ "expected value"}}" + "</th>"
            + "<th>" + "{{__ "standard deviation"}}" + "</th>"
            + "<th>" + "{{__ "variance"}}" + "</th>"
    }

    function createTableBottomPERT(expectedValue, standardDeviation, variance) {
        var tbody = document.getElementById("tableBody");
        var row = tbody.insertRow();
        row.innerHTML = 
            "<tr>" + "<td>" + "{{__ "total"}}" + "</td>"
            + "<td>" + "" + "</td>"
            + "<td>" + "" + "</td>"
            + "<td>" + "" + "</td>"
            + "<td>" + expectedValue + "/6" + "</td>"
            + "<td>" + standardDeviation + "/6" + "</td>"
            + "<td>" + variance + "/36" + "</td>"
            + "</tr>";
        row.className = "table-success";
    // suma "&#8721;"
    //doplnit totalMeanValue, totalvariance ...
    
    }

    function createTableBottomCPM() {

    }



</script>
