{{> navbar}}


<div class="container-fluid bg pt-5">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!--form start-->
            <form class="form-container" id="settingsForm" action="/applySettings" method="POST">
                <h2 class="text-center">{{__ "settings"}}</h2>
                <div class="form-group">
                    <label>Day/Night Mode</label>
                    <select name="mode" class="form-control">
                        <option value="day">Day</option>
                        <option value="night">Night</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="labelForColors">{{__ "nav color"}}</label>
                    <select name="colors" class="form-control">
                        <option value="default">Default</option>
                        <option value="blue" style="background-color: lightskyblue;">Blue</option>
                        <option value="red" style="background-color: lightcoral;">Red</option>
                        <option value="gray" style="background-color: lightgray;">Gray</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="labelForLanguages">{{__ "language"}}</label>
                    <select name="languages" id="languages" class="form-control">
                        <option value="en">ENG (Default)</option>
                        <option value="cz">CZ</option>
                    </select>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">{{__ "save settings"}}</button>
                    <button type="button" class="btn btn-primary" onclick="history.back()">{{__ "back"}}</button>
                </div>
            </form>
            <!--form end-->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>

<script>
    let element = document.getElementById("languages");
    if("{{language_value}}") {
        element.value = "{{language_value}}";
    } else {
        element.value = "en";
    }

    document.getElementById("settingsForm").addEventListener("submit", formSubmit);

    function formSubmit(){ 
        console.log("Submitnuto")
        // sessionStorage na nastaveni zobrazeni
    }
</script>