{{> navbar}}

<div>
    {{#if flash}}
    <div style="text-align: center; position: absolute; width: 100%;" id="flash" class="alert alert-{{flash.type}}" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{flash.text}}</strong>
    </div>
    {{/if}}

    <div class="container-fluid bg pt-5">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!--form start-->
                <form class="form-container" id="settingsForm" action="/applySettings" method="POST">
                    <h2 class="text-center">{{__ "settings"}}</h2>
                    <div class="form-group">
                        <label for="labelForLanguages">{{__ "language"}}</label>
                        <select name="languages" id="languages" class="form-control">
                            <option value="en">ENG ({{__ "default"}})</option>
                            <option value="cz">CZ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="navColor">{{__ "nav color"}}</label>
                        <select name="navColor" id="navColor" class="form-control">
                            <option value="lightsteelblue" style="background-color: lightsteelblue;">{{__ "default"}}</option>
                            <option value="lightblue" style="background-color: lightblue;">{{__ "blue"}}</option>
                            <option value="lightcoral" style="background-color: lightcoral;">{{__ "red"}}</option>
                            <option value="lightgray" style="background-color: lightgray;">{{__ "gray"}}</option>
                            <option value="lightgreen" style="background-color: lightgreen;">{{__ "green"}}</option>
                            <option value="lightyellow" style="background-color: lightyellow;">{{__ "yellow"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="statesColor">{{__ "color states"}}</label>
                        <select name="statesColor" id="statesColor" class="form-control">
                            <option value="#B3E5FC" style="background-color: #B3E5FC;">{{__ "default"}}</option>
                            <option value="lightblue" style="background-color: lightblue;">{{__ "blue"}}</option>
                            <option value="lightcoral" style="background-color: lightcoral;">{{__ "red"}}</option>
                            <option value="lightgray" style="background-color: lightgray;">{{__ "gray"}}</option>
                            <option value="lightgreen" style="background-color: lightgreen;">{{__ "green"}}</option>
                            <option value="lightyellow" style="background-color: lightyellow;">{{__ "yellow"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="activitiesColor">{{__ "color activities"}}</label>
                        <select name="activitiesColor" id="activitiesColor" class="form-control">
                            <option value="#0288D1" style="background-color: #0288D1;">{{__ "default"}}</option>
                            <option value="lightblue" style="background-color: lightblue;">{{__ "blue"}}</option>
                            <option value="lightcoral" style="background-color: lightcoral;">{{__ "red"}}</option>
                            <option value="lightgray" style="background-color: lightgray;">{{__ "gray"}}</option>
                            <option value="lightgreen" style="background-color: lightgreen;">{{__ "green"}}</option>
                            <option value="lightyellow" style="background-color: lightyellow;">{{__ "yellow"}}</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">{{__ "save settings"}}</button>
                        <button type="button" class="btn btn-secondary btn-block" onclick="history.back()">{{__ "back"}}</button>
                    </div>
                </form>
                <!--form end-->
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>

</div>

<script>
    setTimeout(function() {
        $('#flash').fadeOut('fast');
    }, 3000);

    let languageSelect = document.getElementById("languages");
    
    if("{{navColor}}"){
        document.getElementById('navColor').value = "{{navColor}}";
    }

    if("{{language_value}}") {
        languageSelect.value = "{{language_value}}";
    } else {
        languageSelect.value = "en";
    }

    if("{{graphSettings}}") {
        let graphSettings = JSON.parse("{{graphSettings}}".replace(/&quot;/g, '"'));
        document.getElementById("statesColor").value = graphSettings[0];
        document.getElementById("activitiesColor").value = graphSettings[1];
    }

</script>